@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura.eot');
    src: url('../fonts/Futura.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Futura.woff2') format('woff2'),
        url('../fonts/Futura.woff') format('woff'),
        url('../fonts/Futura.ttf') format('truetype'),
        url('../fonts/Futura.svg#Futura') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Bold';
    src: url('../fonts/Futura-Bold.eot');
    src: url('../fonts/Futura-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Futura-Bold.woff2') format('woff2'),
        url('../fonts/Futura-Bold.woff') format('woff'),
        url('../fonts/Futura-Bold.ttf') format('truetype'),
        url('../fonts/Futura-Bold.svg#Futura-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('../fonts/FuturaPT-Book.eot');
    src: url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Book.woff2') format('woff2'),
        url('.../fonts/uturaPT-Book.woff') format('woff'),
        url('../fonts/FuturaPT-Book.ttf') format('truetype'),
        url('../fonts/FuturaPT-Book.svg#FuturaPT-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('../fonts/FuturaPT-BookObl.eot');
    src: url('../fonts/FuturaPT-BookObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-BookObl.woff2') format('woff2'),
        url('../fonts/FuturaPT-BookObl.woff') format('woff'),
        url('../fonts/FuturaPT-BookObl.ttf') format('truetype'),
        url('../fonts/FuturaPT-BookObl.svg#FuturaPT-BookObl') format('svg');
    font-weight: normal;
    font-style: italic;
}








/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    color: #191919;
    font-size: 1em;
    line-height: 1.4;
}
html, body {
    margin: 0;
    padding: 0;
    background-color: #f8f8eb;
}

main {

}

a {
    text-decoration: none;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#scrollbar {
    width: 100%;
    height: 100vh;
    overflow: auto;
}

#loader {
    width: 100%;
    height: 100%;
    background-color: #f8f8eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 1;
    transition: all 1000ms ease;
}
#loader.done {
    opacity: 0;
}
#loader span {
    margin-top: 50px;
    font-family: "Futura";
    font-size: 14px;
    line-height: 1;
    display: inline-block;
    position: relative;
}
@keyframes loader {    
    0% {
        content: ""
    }
    25% {
        content: "."
    }
    50% {
        content: ".."
    }
    75% {
        content: "..."
    }
    100% {
        content: ""
    }
}
#loader span::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: calc(100% + 3px);
    display: inline-block;
    animation: loader 1.3s ease forwards infinite;
}


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}



/* ==========================================================================
   Header styles
   ========================================================================== */

.header__logo {
    height: 63px;
    position: fixed;
    top: 50px;
    left: 55px;
    overflow: hidden;
    z-index: 1;
}
.header__logo.short {
    display: flex;
    align-items: center;
}
.header__logo .back {
    display: inline-flex;
    align-items: center;
    font-family: "Futura";
    font-size: 14px;
    line-height: 1;
    color: #f8f8eb;    
    margin-left: 59px;
    margin-bottom: 4px;
    transition: color 0.9s cubic-bezier(0.18, 1, 0.21, 1);
}
.header__logo .back i {
    display: block;    
    width: 20px;
    height: 20px;
    transform: rotate(-135deg);
    overflow: hidden;
    transition: all 0.9s cubic-bezier(0.18, 1, 0.21, 1);
    margin-right: 11px;
}
.header__logo .back i::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border: 8px solid #f8f8eb;
    position: absolute;
    right: 0;
    transition: all 0.9s cubic-bezier(0.18, 1, 0.21, 1);
}
.header__logo .back:hover {
    color: #ffbf12;
}
.header__logo .back:hover i::after {
    border-color: #ffbf12;
}
.header__logo .back.black {
    color: #191919;
}
.header__logo .back.black i::after {
    border-color: #191919;
}
.header__logo img {    
    height: 63px;
}
.start-project__nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 55px;
    right: 55px;
    transform: rotate(-90deg);
    z-index: 3;
    transform-origin: calc(100% - 25px);
}
.start-project__text {
    font: 500 14px/1.3 'Futura';
    margin-right: 13px;
    overflow: hidden;
    position: absolute;
    right: 50px;
    white-space: nowrap;
}
.start-project__text span {
      
}
.start-project__button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    border: 25px solid #ffbf12;
}
.start-project__button:hover {
    transform: scale(1.3);
    border: 1px solid #ffbf12;
}
.start-project__button_hover {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #ffbf12;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 250ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.start-project__button:hover .start-project__button_hover {
    transform: scale(1);
    background-color: #f8f8eb;
}
.start-project__button_1 {
    display: block;
    width: 16px;
    height: 1px;
    background-color: #191919;
    position: absolute;
    left: -9px;
    top: -3px;
    transition: all 250ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.start-project__button:hover .start-project__button_1 {
    background-color: #ffbf12;
    left: 15px;
    top: 21px;
}
.start-project__button_2 {
    display: block;
    width: 12px;
    height: 1px;
    background-color: #191919;
    position: absolute;
    right: -7px;
    top: 3px;
    transition: all 250ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.start-project__button:hover .start-project__button_2 {
    background-color: #ffbf12;
    width: 16px;
    right: 17px;
    top: 28px;
}

.header__social {
    position: fixed;
    bottom: 70px;
    left: 80px;
    transform: translate(-50%, 10px);
    z-index: 1;
}
.header__social_button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    background-color: #191919;
    display: none;
    z-index: 2;    
}
.header__social_button svg {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: -2px;
}
.header__social a {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header__social a::after {
    content: "";
    display: block;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffca04;
    z-index: 0;
    transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
}
.header__social a svg {
    width: 100%;    
    z-index: 1;
}
.header__social a:hover::after {
    width: 100%;
}

.header__scroller {
    position: fixed;
    width: 7px;
    height: 30px;
    bottom: 70px;
    right: 80px;
    transform: translate(50%, 0);
    overflow: hidden;
    z-index: 1;
}
.header__scroller::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #191919;
    position: absolute;
    top: 0;
    left: 0;
    transform: translatey(-100%);
    animation: scroller 2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
}
.article .header__scroller::before {
    background-color: #f8f8eb;
}

@keyframes scroller {
    0% {
        transform: translatey(-100%);
    }
    50% {
        transform: translatey(0%);
    }
    100% {
        transform: translatey(100%);
    }  
}

.header__title {
    width: 100%;
    height: 100vh;
    background-color: #191919;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #f8f8eb;
    position: relative;
}
.header__title::before {
    content: "";
    display: block;    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);    
}
.header__title_info {
    width: calc(50% - 160px);
    position: absolute;
    left: 160px;
    bottom: 180px;
}
.header__title time {
    display: block;
    font-family: "Futura";
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
    position: relative;    
}
.header__title time i {
    vertical-align: middle;
}
.header__title time i {
    font-style: normal;
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #f8f8eb;
    margin: 0 5px;
}
.header__title h1 {
    margin: 17px 0 0 0;
    padding: 0;
    font-family: "Futura-Bold";
    font-size: 36px;
    line-height: 48px;
    position: relative;    
    color: #f8f8eb;
}
.header__title .item--autor {
    margin-top: 18px;
    display: flex;
    align-items: center;
    position: relative;
    font-family: "Futura";
    font-size: 14px;
    line-height: 1;
}
.header__title .item--autor img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.header__title .item--autor span {

}


/* ==========================================================================
   Footer styles
   ========================================================================== */
footer {
    height: 125px;
    padding: 0 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__links {
    display: inline-flex;
    align-items: center;
    font-family: "Futura";
    font-size: 14px;
    line-height: 1;
}
.footer__links a {    
    color: #191919;
    position: relative;
    margin-right: 50px;
    padding-bottom: 7px;
}
.footer__links a:last-child {
    margin-right: 0;
}
.footer__links a::after {
    content: "";
    display: block;
    width: 100%;
    height: 7px;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #191919;
    transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}
.footer__links a:hover::after {
    height: 1px;
}
.footer__copyright {
    font-family: "Futura";
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
}


/* ==========================================================================
   Main List styles
   ========================================================================== */
.list main {    
    background: url('../img/eyes_02_01.svg') no-repeat center 80px / 200px auto;
    padding: 156px 160px 0 160px;
}
.list h1 {
    font-family: "Futura Bold";
    font-size: 36px;
    line-height: 1;
    margin: 0;
    padding: 0;
}
.list__tabs {
    margin: 50px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.list__tabs > li {
    text-align: center;    
    margin: 0 3px;
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    position: relative;
    font-size: 14px;
    font-family: "Futura";
    font-weight: 500;
    cursor: pointer;
}
.list__tabs > li:hover {
    color: #f8f8eb;
    transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}
.list__tabs > li::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #191919;
    transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}
.list__tabs > li > span {
    z-index: 1;
}
.list__tabs > li.current {
    color: #f8f8eb;
    cursor: default;
}
.list__tabs > li.current::after {
    height: 100%;
}
.list__tabs > li:hover::after {
    height: 100%;
}
.list__tabs > li:first-child {
    margin-left: 0;
}
.list__tabs > li:last-child {
    margin-right: 0;
}

.list__catalog {    
    flex-wrap: wrap;
    margin: 50px -3px 0 -3px;
    display: none;
}
.list__catalog.current {
    display: flex;
}
.list__catalog_item {
    width: calc(50% - 6px);
    height: 27.34375vw;
    margin: 0 3px 3px 3px;
    padding: 18px 20px 20px 20px;
    position: relative;
    color: #f8f8eb;
    overflow: hidden;
}
.list__catalog_item:nth-child(3n) {
    width: 100%;
}
.list__catalog_item:nth-child(3n) h2 {
    width: calc(50% - 20px);
}
.list__catalog_item .item--photo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    transition: all 7s cubic-bezier(0.18, 1, 0.21, 1);
}
.list__catalog_item .item--photo::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 7s cubic-bezier(0.18, 1, 0.21, 1);
}
.list__catalog_item time {
    display: block;
    font-family: "Futura";
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}
.list__catalog_item time span,
.list__catalog_item time i {
    vertical-align: middle;
}
.list__catalog_item time i {
    font-style: normal;
    display: inline-block;
    width: 1px;
    height: 8px;
    background-color: #f8f8eb;
    margin: 0 5px;
}
.list__catalog_item h2 {
    margin: 17px 0 0 0;
    padding: 0;
    font-family: "Futura-Bold";
    font-size: 30px;
    line-height: 36px;
    position: relative;
    z-index: 1;
}
.list__catalog_item .item--autor {
    margin-top: 18px;
    display: flex;
    align-items: center;
    position: relative;
    font-family: "Futura";
    font-size: 14px;
    line-height: 1;
    position: relative;
    z-index: 1;
}
.list__catalog_item .item--autor img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;    
}
.list__catalog_item .item--link {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    overflow: hidden;
    transition: all 0.9s cubic-bezier(0.18, 1, 0.21, 1);
    z-index: 1;
}
.list__catalog_item .item--link::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border: 8px solid #f8f8eb;
    position: absolute;
    right: 0;
    transition: all 0.9s cubic-bezier(0.18, 1, 0.21, 1);
}
.list__catalog_item:hover .item--photo {
    transform: scale(1.07);
}
.list__catalog_item:hover .item--photo::after {    
    background-color: rgba(0, 0, 0, 0.5);    
}
.list__catalog_item:hover .item--link {    
    right: 50px;    
}
.list__catalog_item:hover .item--link::after {
    border-color: #fdbf00!important;
}

.list__catalog_item.no--photo {
    background-color: #fff;
    color: #191919;
}
.list__catalog_item.no--photo::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all 7s cubic-bezier(0.18, 1, 0.21, 1);
}
.list__catalog_item.no--photo:hover::after {
    background-color: rgba(0, 0, 0, 0.25);
}
.list__catalog_item.no--photo .item--link::after {
    border-color: #191919;
}
.list__catalog_item .item--href {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.list__pagination {
    margin: 50px 0 0 0;
    display: flex;
    padding: 0;
    list-style: none;
}
.list__pagination li {    
    width: 50px;
    height: 50px;    
    margin-right: 6px;
    position: relative;
    font-family: "Futura";
    font-size: 14px;
    line-height: 1;
}
.list__pagination li::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #191919;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}
.list__pagination li:last-child {
    margin-right: 0;
}
.list__pagination li a {
    position: relative;
    z-index: 1;    
    color: #191919;
    transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.list__pagination li.current a {
    color: #f8f8eb;
    pointer-events: none;
}
.list__pagination li.current::after {
    height: 100%;
}
.list__pagination li:hover a {
    color: #f8f8eb;
}
.list__pagination li:hover::after {
    height: 100%;
}


.subscribe {
    padding: 48px 160px;
    background-color: #f0f0d9;
    margin-top: 100px;
}
.subscribe label {
    font-family: "Futura";
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
}
.subscribe__input {
    height: 68px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #191919;
}
.subscribe__input input {
    flex-grow: 1;
    padding: 0;
    font-family: "Futura Bold";
    font-size: 36px;
    border: none;
    background: none;
    outline: none;    
}
.subscribe__input input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: 1;
    color: #191919;
    transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}
.subscribe__input input::-moz-placeholder { /* Firefox 19+ */
    opacity: 1;
    color: #191919;
    transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}
.subscribe__input input:-ms-input-placeholder { /* IE 10+ */
    opacity: 1;
    color: #191919;
    transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}
.subscribe__input input:-moz-placeholder { /* Firefox 18- */
    opacity: 1;
    color: #191919;
    transition: all 300ms ease;
}

.subscribe__input input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: 0;    
}
.subscribe__input input:focus::-moz-placeholder { /* Firefox 19+ */
    opacity: 0;    
}
.subscribe__input inpu:focust:-ms-input-placeholder { /* IE 10+ */
    opacity: 0;    
}
.subscribe__input inpu:focust:-moz-placeholder { /* Firefox 18- */
    opacity: 0;    
}
.subscribe__input button {
    display: block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    position: relative;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    transform: rotate(45deg);
}
.subscribe__input button::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border: 8px solid #191919;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.9s cubic-bezier(0.18, 1, 0.21, 1);
}
.subscribe__input button:hover::after {
    border-color: #fdbf00!important;
}


/* ==========================================================================
   Main Article styles
   ========================================================================== */


.article main {
    margin: -100px 160px 0 160px;
    padding-bottom: 100px;
    background-color: #fff;
    z-index: 2;
    position: relative;
}
.article__blog {    
    padding: 60px 0 0 0;
    font-family: "Futura PT Book";
    font-size: 16px;
    line-height: 24px;
}
.article__blog p {
    padding: 0 80px;
}
.article__blog a {
    display: inline-block;
    position: relative;        
    color: #191919;
}
.article__blog a::after {
    content: "";
    display: block;
    width: 100%;
    height: 7px;
    position: absolute;
    left: 0;
    top: 90%;
    background-color: #191919;
    transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}
.article__blog a:hover::after {
    height: 1px;
}
.article__blog .blog--image-full {
    margin: 78px 0;
}
.article__blog .blog--image-full img {
    width: 100%;
}
.article__blog blockquote {
    margin: 78px 80px 78px 80px;
    font-family: "Futura PT Book";
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    font-style: italic;
    border-left: 1px solid #191919;
    padding-left: 29px;
}
.article__blog h2 {
    margin: 100px 0 50px 0;
    padding: 0 80px;
    font-family: "Futura Bold";
    font-size: 30px;
    line-height: 36px;    
}
.article__blog ul {
    margin: 50px 0;
    padding: 0 80px;
    list-style: none;
}
.article__blog ul li {
    padding-left: 20px;
    position: relative;
    margin-bottom: 25px;
}
.article__blog ul li:last-child {
    margin-bottom: 0;
}
.article__blog ul li::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fdbf00;
    position: absolute;
    left: 0;
    top: 10px;
}

.article__blog > *:last-child {
    margin-bottom: 0;
}
.article__shared {
    margin-top: 90px;
    text-align: center;
}
.article__shared h5 {
    margin: 0 80px;
    padding: 0;
    font-family: "Futura";
    font-size: 14px;
    line-height: 1;
    position: relative;
}
.article__shared h5::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #f0f0d9;
    position: absolute;
    left: 0;
    top: 8px;
}
.article__shared h5 span {
    display: inline-block;
    background-color: #fff;
    padding: 0 35px;
    position: relative;
    z-index: 1;
}
.article__shared_links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 29px;
}
.article__shared_links a {    
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.article__shared_links a::after {
    content: "";
    display: block;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffca04;
    z-index: 0;
    transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
}
.article__shared_links a:hover::after {
    width: 100%;
}
.article__shared_links a img {
    width: 16px;
    height: 16px;
    z-index: 1;
}

.article__related {
    padding: 0 160px;
}
.article__related h4 {
    margin: 50px 0 41px 0;
    padding: 0;
    font-family: "Futura Bold";
    font-size: 36px;
    line-height: 1;
}
.article__related_list {
    display: flex;
    margin: 0 -3px;
} 
.list__catalog_item.no--photo time i {
    background-color: #191919;
}