@media screen and (max-width: 1200px){
    .header__social {
        left: 80px;
    }
    .header__scroller {
        right: 40px;
    }
    .list main {
        padding: 240px 0 0 0;        
        background-position: center 130px;        
    }
    .list h1 {
        padding: 0 80px;
    }
    .list__catalog {        
        margin: 50px 80px 0 80px;
    }
    .list__catalog_item {
        width: 100%;
        margin: 0 0 6px 0;
        height: 45.57vw;
    }
    .list__catalog_item:last-child {
        margin-bottom: 0;
    }
    .list__pagination {
        margin: 50px 80px 0 80px;
    }
    .subscribe {
        padding: 48px 80px;        
    }
    .header__social {
        width: 50px;
        height: 50px;
        display: block;
        transform: translate(-50%, 0);
        bottom: 60px;
    }
    .header__social a {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #ffbf12;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-user-select: none;  
        -moz-user-select: none;    
        -ms-user-select: none;      
        user-select: none;
        transition: opacity 900ms cubic-bezier(0.77, 0, 0.175, 1), transform 900ms cubic-bezier(0.77, 0, 0.175, 1);
        opacity: 0;
    }
    .header__social a::after {
        display: none;
    }
    .header__social_button {
        display: block;
        transition: all 900ms cubic-bezier(0.77, 0, 0.175, 1);
    }
    .header__social.active .header__social_button {
        background-color: #fff;
    }
    .header__social .header__social_button path,
    .header__social .header__social_button rect {
        transition: all 900ms cubic-bezier(0.77, 0, 0.175, 1);
    }
    .header__social.active .header__social_button path,
    .header__social.active .header__social_button rect {
        fill: #191919;
    }
    .header__social.active .facebook {
        transform: translateY(-56px);
        opacity: 1;
    }
    .header__social.active .linkedin {
        transform: translateY(-112px);
        opacity: 1;
    }
    footer {        
        padding: 0 80px;
    }

    .header__title_info {
        width: calc(100% - 160px);
        left: 80px;
        bottom: 80px;
    }
    .article main {
        margin: 0;
        padding-bottom: 100px;
    }
    .article__related {
        padding: 0 80px;
    }
    .article__related_list {        
        margin: 0;
        flex-direction: column;
    }
}



@media screen and (max-width: 640px){
    .header__social {
        bottom: 17px;
        left: 42px;
    }
    .header__scroller {
        right: 21px;
        bottom: 27px;
    }
    .article .header__scroller {
        display: none;
    }
    .header__logo {        
        top: 13px;
        left: 17px;
    }
    .start-project__nav {        
        top: 17px;
        right: 17px;        
    }
    .start-project__text {
        display: none;
    }
    .list main {
        padding: 190px 0 0 0;
        background-position: center 90px;
        background-size: 132px auto;
    }
    .list h1 {
        padding: 0 42px;
        font-size: 30px;
    }
    .list__catalog {
        margin: 46px 42px 0 42px;
    }
    .list__catalog_item {        
        margin: 0 0 6px 0;
        height: 93.33vw;
        max-height: 350px;
    }
    .list__catalog_item h2 {
        font-size: 24px;
        line-height: 30px;        
    }
    .list__pagination {
        margin: 50px 42px 0 42px;
    }
    .subscribe {
        padding: 48px;
    }
    .subscribe__input {
        justify-content: space-between;
    }
    .subscribe__input input {
        width: calc(100vw - 48px - 48px - 40px);
        font-size: 30px;
    }
    .subscribe__input button {
        position: relative;
        top: -3px;
    }
    footer {
        height: auto;
        padding: 50px 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
    }
    .footer__links {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        font-family: "Futura";
        font-size: 14px;
        line-height: 1;
        margin-bottom: 54px;
    }
    .footer__links a {                
        margin-right: 0;
        padding-bottom: 7px;
    }
    .header__title_info {
        width: calc(100% - 96px);
        left: 48px;
        bottom: 180px;
    }
    .header__title h1 {
        font-size: 30px;
        line-height: 36px;
    }
    .article main {
        margin: -100px 0 0 0;
        padding-bottom: 100px;
    }
    .article__blog p {
        padding: 0 48px;
    }
    .article__blog blockquote {
        margin: 78px 48px 78px 48px;
    }
    .article__blog h2 {        
        padding: 0 48px;        
        font-size: 24px;
        line-height: 30px;
    }
    .article__blog ul {
        margin: 50px 0;
        padding: 0 48px;        
    }
    .article__related {
        padding: 0 48px;
    }
    .article__related h4 {
        margin: 50px 0 41px 0;
        padding: 0;
        font-family: "Futura Bold";
        font-size: 30px;
        line-height: 1;
    }
    .article__shared h5 {
        margin: 0;
        padding: 0;
        font-family: "Futura";
        font-size: 14px;
        line-height: 1;
        position: relative;
    }
}